<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- CSS only -->
  <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" />
  <title>{% block title %}Base HTML5 :: Twig view engine{% endblock %}</title>
  {% block stlesheets %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block javascript %}{% endblock %}
  <!-- JavaScript Bundle with Popper.js -->
  <script src="//stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>
</html>